<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="login-page" content="noindex">
  <title>Botman Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
  <script type="text/javascript" src = "/scripts/landingpage.js"> </script>
  <script type="text/javascript" src = "/angular/landingpage.js"> </script>

</head>
<body ng-app="LandingPage" >
<header>
  <div>
    <img class="logo_container" src="/images/assets/bot_logo.png" alt="botman logo" />
    <span class="header_name">Botman</span>
    <div class="button" id="logout-button-header">Logout</div>
  </div>
</header>
<section class="section1"  ng-controller="BotInfo">
  <div class="section-heading">
      <p>My Bots</p>
      <img class="add-logo" id="add-bot" src="/images/assets/add_blue.png" alt="add"/>
  </div>
  <div>
    <table class="table-container">
      <tr class="table-header">
        <td>Name</td>
        <td>Last Edited</td>
        <td>Type</td>
        <td>Health Status</td>
        <td>Update</td>
        <td>Delete</td>
      </tr>
      <tr ng-repeat="x in botList" class="table-row">
        <td>{{x.name}}</td>
        <td>{{x.lastEdit}}</td>
        <td>{{x.type}}</td>
        <td>1</td> <!--health-->
        <td ng-click="editBot(x.botId)"><img alt="edit" src="images/assets/edit_ic.png"/> </td>
        <td ng-click="deleteBot(x.botId)"><img alt="edit" src="images/assets/delete_ic.png"/></td>
      </tr>
    </table>
  </div>
  <!-- block to show the bot creation dialogue-->
  <div id="bot-create-model-container" class="bot-create-model-container" >
    <div class="bot-create-modal">
      <div class="bot-create-modal-header">
       <span id="close-bot-model" class="close">&times;</span>
       <h2>Bot Details</h2>
      </div>
      <div class="bot-create-modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="bot-create-modal-footer">
        <div class="button-create">Create</div>
      </div>
    </div>
  </div>
  <!-- block to show the bot delete confirmation dialogue -->
  <div id="bot-delete-model-container" class="fade-background-container" ng-show="showDialogueDeleteBot">
    <div class="delete-dialogue-container">
      <div class="bot-create-modal-header">
        <h2>Delete Chatbot</h2>
      </div>
      <div class="delete-dialogue-body">
        <p>Confirm delete bot {{deleteBotName}} ?</p>
      </div>
      <div class="bot-create-modal-footer adjust-delete-footer">
        <div class="button-delete">Delete</div>
        <div class="button-cancel">Cancel</div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Features</a></li>
    </ul>
    <p>Botman © 2018. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
