<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="login-page" content="noindex">
  <title>Botman Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
  <script type="text/javascript" src="/angular/landingpage.js">
  </script>

</head>

<body ng-app="LandingPage" ng-controller="BotInfo" ng-init="loadData()">
  <header>
    <div class="header-container">
      <img class="logo_container" src="/images/assets/bot_logo.png" alt="botman logo" />
      <span class="header_name">Botman</span>
      <form action="logout" method="post">
        <button class="button" ng-click="logout()" type="submit" id="logout-button-header">LOGOUT</button>
      </form>

    </div>
  </header>
  <section class="section1">
    <div class="section-heading">
      <p>My Bots</p>
      <img class="add-logo" id="add-bot" src="/images/assets/add_blue.png" alt="add" ng-click="showDialogueCreateBot = true" />
    </div>
    <div>
      <table class="table-container">
        <tr class="table-header">
          <td>Name</td>
          <td>Last Edited</td>
          <td>Type</td>
          <td>Health Status</td>
          <td>Update</td>
          <td>Delete</td>
        </tr>
        <tr ng-repeat="x in botList" class="table-row">
          <td>{{x.botName}}</td>
          <td>{{x.lastEdit}}</td>
          <td>{{x.botType}}</td>
          <td>1</td>
          <!--health-->
          <td ng-click="editBot(x.botType, x.botName)"><img alt="edit" src="images/assets/edit_ic.png" /> </td>
          <td ng-click="deleteBot(x._id, x.botName)"><img alt="edit" src="images/assets/delete_ic.png" /></td>
        </tr>
      </table>
    </div>
    <!-- block to show the bot creation dialogue-->
    <div id="bot-create-model-container" class="bot-create-model-container" ng-show="showDialogueCreateBot">
      <div class="bot-create-modal">
        <div class="bot-create-modal-header">
          <span id="close-bot-model" class="close" ng-click="showDialogueCreateBot = false">&times;</span>
          <h2>Bot Details</h2>
        </div>
        <div class="bot-create-modal-body">
          <p>Bot Name</p> <input type="text" ng-model="createBotPayload.botName" name="bot_name" id="bot_name" placeholder="Bot Name" />
          <p>Bot Type</p> <br/>
          <div>
            <label>
                  <input type="radio" ng-model="createBotPayload.botType"  name="bot_type" value="simple_bot"  ng-click="showTokenWindow=false" ng-init="createBotPayload.botType='simple_bot'"/>
                    Simple Fixed Response Bot
              </label>
          </div>
          <div>
            <label>
                  <input type="radio" ng-model="createBotPayload.botType"  name="bot_type" value="nlp_bot" ng-click="showTokenWindow=true"/>
                    NLP Integrated Bot
            </label><br/>
            <input type="text" ng-model="createBotPayload.nlpToken" placeholder="NLP bot token" ng-show="showTokenWindow">
          </div>
        </div>
        <div class="bot-create-modal-footer">
          <div id="create-bot-button" class="button-create" ng-click="createBot()">Create</div>
        </div>
        <div class="success-snack-bar" ng-show="createRequestStatus.success">
          <p>Bot successfully created!</p>
        </div>
        <div class="error-snack-bar" ng-show="createRequestStatus.error">
          <p>Unable to create new Bot. Contact admin.</p>
        </div>
      </div>
    </div>
    <!-- block to show the bot delete confirmation dialogue -->
    <div id="bot-delete-model-container" class="fade-background-container" ng-show="showDialogueDeleteBot">
      <div class="delete-dialogue-container">
        <div class="bot-create-modal-header">
          <h2>Delete Chatbot</h2>
        </div>
        <div class="delete-dialogue-body">
          <p>Confirm delete bot {{deleteBotWithName}} ?</p>
        </div>
        <div class="bot-create-modal-footer adjust-delete-footer">
          <div class="button-delete" ng-click="sendRequestDeleteBot()">Delete</div>
          <div class="button-cancel" ng-click="cancelRequestDeleteBot()">Cancel</div>
        </div>
        <div class="success-snack-bar" ng-show="deleteRequestStatus.success">
          <p>Bot successfully deleted!</p>
        </div>
        <div class="error-snack-bar" ng-show="deleteRequestStatus.error">
          <p>Unable to delete bot. Contact admin.</p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>