<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="login-page" content="noindex">
  <title>Botman Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

  <link rel="stylesheet" href="/bs/bs.min.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/handy.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  <script type="text/javascript" src="/angular/landingpage.js">

  </script>

</head>

<body ng-app="LandingPage" ng-controller="BotInfo" ng-init="loadData()">

  <section class="bg-white shadow--d p-all-10 m-b-30">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img  src="/images/assets/bot_logo.png" alt="botman logo" width="50"/>
          <span class="d-inline-block"><b>BotMan</b></span>

        </div>
        <div class="col-md-6 my-auto text-right">
          <a href="#" ng-click="showDialogueCreateBot = true"  class="btn btn-color bg-green">🤖 Add Bots</a>
          <form action="logout" method="post" class="d-inline-block m-l-10">
            <button  ng-click="logout()" type="submit" class="btn btn-black " id="logout-button-header">LOGOUT</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="m-h-90">

    <div class="container">
    <div class="row">
      <div class="md-10 m-auto">
        <table class="table-container">
          <tr class="table-header">
            <td>Name</td>
            <td>Last Edited</td>
            <td>Type</td>
            <td>Health Status</td>
            <td>Update</td>
            <td>Delete</td>
          </tr>
          <tr ng-repeat="x in botList" class="table-row">
            <td>{{x.botName}}</td>
            <td>{{x.lastEdit}}</td>
            <td>{{x.botType}}</td>
            <td>1</td>
            <!--health-->
            <td ng-click="editBot(x.botType, x.botName)"><img alt="edit" src="images/assets/edit_ic.png" /> </td>
            <td ng-click="deleteBot(x._id, x.botName)"><img alt="edit" src="images/assets/delete_ic.png" /></td>
          </tr>
        </table>
      </div>
    </div>
    </div>
    <!-- block to show the bot creation dialogue-->
    <div id="bot-create-model-container" class="bot-create-model-container" ng-show="showDialogueCreateBot">
      <div class="bot-create-modal">
        <div class="header-strip">
          <span id="close-bot-model" class="close" ng-click="showDialogueCreateBot = false">&times;</span>
          <h2>Bot Details</h2>
        </div>
        <div class="bot-create-modal-body">
          <p class="m-b-0">Bot Name</p> <input type="text" ng-model="createBotPayload.botName" name="bot_name" id="bot_name" placeholder="Bot Name" />
          <p  class="m-b-0">Bot Type</p> <br/>
          <div>
            <label>
                  <input type="radio" ng-model="createBotPayload.botType"  name="bot_type" value="simple_bot"  ng-click="showTokenWindow=false" ng-init="createBotPayload.botType='simple_bot'"/>
                    Simple Fixed Response Bot
              </label>
          </div>
          <div>
            <label>
                  <input type="radio" ng-model="createBotPayload.botType"  name="bot_type" value="nlp_bot" ng-click="showTokenWindow=true"/>
                    NLP Integrated Bot
            </label><br/>
            <input type="text" ng-model="createBotPayload.nlpToken" placeholder="NLP bot token" ng-show="showTokenWindow">
          </div>
        </div>
        <div class="bot-create-modal-footer text-center">
          <div id="create-bot-button" class="btn bg-green btn-color btn-lg" ng-click="createBot()">🤖 Create A New Bot</div>
        </div>
        <div class="success-snack-bar" ng-show="createRequestStatus.success">
          <p>Bot successfully created!</p>
        </div>
        <div class="error-snack-bar" ng-show="createRequestStatus.error">
          <p>Unable to create new Bot. Contact admin.</p>
        </div>
      </div>
    </div>
    <!-- block to show the bot delete confirmation dialogue -->
    <div id="bot-delete-model-container" class="fade-background-container" ng-show="showDialogueDeleteBot">
      <div class="delete-dialogue-container p-all-15 " style="border-radius: 5px">
        <div class="bot-create-modal-header header-strip">
          <h2>Delete Chatbot</h2>
        </div>
        <div class="delete-dialogue-body">
          <p>Confirm delete bot {{deleteBotWithName}} ?</p>
        </div>
        <div class="bot-create-modal-footer adjust-delete-footer">
          <div class=" btn btn-color bg-green m-r-10" ng-click="sendRequestDeleteBot()">Delete</div>
          <div class=" btn btn-color bg-licorice" ng-click="cancelRequestDeleteBot()">Cancel</div>
        </div>
        <div class="success-snack-bar" ng-show="deleteRequestStatus.success">
          <p>Bot successfully deleted!</p>
        </div>
        <div class="error-snack-bar" ng-show="deleteRequestStatus.error">
          <p>Unable to delete bot. Contact admin.</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div>
      <p>Botman &copy; 2018. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>