<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="login-page" content="noindex">
  <title>Botman Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
  <script type="text/javascript" src = "/scripts/landingpage.js"> </script>

</head>
<body ng-app="app" ng-controller="app" >
<header>
  <div>
    <img class="logo_container" src="/images/assets/bot_logo.png" alt="botman logo" />
    <span class="header_name">Botman</span>
    <div class="button" id="logout-button-header">Logout</div>
  </div>
</header>
<section class="section1">
  <div class="section-heading">
      <p>My Bots</p>
      <img class="add-logo" id="add-bot" src="/images/assets/add_blue.png" alt="add"/>
  </div>
  <div>

  </div>
  <div id="bot-create-model-container" class="bot-create-model-container" >
    <div class="bot-create-modal">
      <div class="bot-create-modal-header">
       <span id="close-bot-model" class="close">&times;</span>
       <h2>Bot Details</h2>
      </div>
      <div class="bot-create-modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="bot-create-modal-footer">
        <div class="button-create">Create</div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Features</a></li>
    </ul>
    <p>Botman © 2018. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
