header {
	background-color: transparent;
	position: absolute!important;
	z-index: 99;
	left: 0;
	right: 0;
	padding: 15px 0;
}

header .header-container {
	margin: 0px 200px;
	height: 60px;
}
.logo_container {
	height: auto;
	width: 47px;
	margin-top: 8px;
	display: inline-block;
	float: left;
}
.header_name {
	font-size:40px;
	padding: 5px;
	font-family: Verdana;
	display: inline-block;
	color: white;
}

.button {
	float:right;
	min-width: 100px;
	margin: 0px;
	text-align: center;
	font-weight:bold;
	margin-top:10px;
}

.button:hover {
	background-color: black;
	color:white;
}

header form {
	display: inline-block;
	float: right;
}