body {
	background: #f6f9fc;
}

.body-wrapper {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer {
	background-color: #263238;
	color: white;
	padding: 20px 0px;
}

.login-container {
	height: 290px;
	width:500px;
	background-color: #f6f9fc;
	color: #000;
	border-radius:10px;
	z-index: 1;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
	text-align: center;
	display:none;
	box-shadow: 1px 1px 5px 0 rgba(26,26,67,.05), 39px 62.5px 125px -25px rgba(50,50,93,.5), 23.4px 37.5px 75px -37.5px rgba(0,0,0,.6);
}
.login-container .git {
	height: 100px;
	width: 100px;
	margin-top: 50px;
	margin-left:15px;
}

#login-button-header {
	width: 120px;
}

.cancel {
	z-index: 99999;
	height:30px;
	width:30px;
	float:right;
	margin-top:-15px;
	margin-right:-15px;
	position: absolute;
	right: 0;
}

.hero-header {
	background: url(/images/wave-pattern.png),-webkit-linear-gradient(-315deg,#4fa3eb,#9c6bdf 62%,#9866df 66%,#7336df);
	background: url(/images/wave-pattern.png),linear-gradient(45deg,#4fa3eb,#9c6bdf 62%,#9866df 66%,#7336df);
	background-repeat: repeat;
	background-blend-mode: color-burn;
}

.btn {
	transition: all ease 0.3s!important;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.btn:hover {
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important;;
	transform: translateY(-4px);
}

.bg-green {
	background-color: #3ecf8e;
}

.bg-green:hover {
	background-color: #000;
}

.git-logo {
	box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);
	background: #fff;
	display: block;
	width: 130px;
	border-radius: 50%;
	margin: 20px auto;
}