body, * {
    margin: 0px;
}
section {
    height:calc(100vh - 148px);
}


.header-mod {
    background-color: #D8D8D8;
}

.section-mapping {
    height:calc(100vh - 170px);
    width: 64%;
    float:left;
}

.clear {
    clear: both;
}
.add-map .user-say {
    width: 60%;
    border-radius: 10px;
    border: 1px solid #73AD21;
    padding: 3px;
    margin: 2px 0px;
}
.mapping {
    margin-top: 30px;
    height:calc(100vh - 190px);
    overflow-y: scroll;
}
.one-mapping {
    width: 70%;
    margin: 10px auto;
}

.intent-container {
    background-color: #BDBDBD;
    color: #444;
    cursor: pointer;
    border: none;
    text-align: left;
    vertical-align: center;
    outline: none;
    padding:10px;
    font-size: 21px;
    font-weight: bold;
    transition: 0.4s;
}

.active, .intent-container:hover {
    background-color: #424242;
    color:white;
}

.intent-container img{
    float:right;
    margin-top:5px;
}

.intent-container img:first-of-type {
    margin: 2px 15px 0px 15px;
    width:20px;
    height: 20px;
}

.entity-response-container {
    /*display: none;*/
    border : 1px solid black;
    background-color: #E0E6F8;
    overflow: hidden;
    padding: 10px;
}

.entity-response-container .add-entity{
    height:20px;
    width:20px;
    margin-right: 15px;
    float:right;
    pointer: none;
}

.entity-response-container .edit-response {
    height:20px;
    width:20px;
    float:right;
    margin-right:4px;
    pointer: none;
}

.response-container {
    border-top: 1px solid black;
    padding:10px;
}

.entity-container {
    padding:10px;
}

.section-unmapped {
    /*background-color: #088A08;*/
    height:calc(100vh - 210px);
    float: right;
    width: 30%;
    padding: 30px;
}
.section-heading {
    border-top: 1px ridge #848484;
    border-bottom: 2px ridge #D8D8D8;
    text-align: center;
    margin-bottom: 10px;
}
.section-heading p{
    font-size: 20px;
    font-family: "Gill Sans MT";
    font-weight: bold;
    width: 100px;
    display: inline;
}

.remove-mapping {
    height:20px;
    width:20px;
    float:right;
    margin-top: -10px;
}

.button-container {
    text-align: center;
}
.button-style {
    font-family:Arial;
    color: #0B0B61;
    border:3px solid #0B0B61;
    background-color: white;
    border-radius: 30px;
    width:120px;
    padding:10px 15px 10px 15px;
    margin: 0px 30px;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
}

.button-style:hover {
    background-color: black;
    border-color: black;
    color:white;
}

.no-mapping-container {
    height:calc(100vh - 280px);
    overflow-y: scroll;
    margin-bottom: 10px;
}

.fade-background-container {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.8s;
    animation-name: fadeIn;
    animation-duration: 0.8s
}

.dialogue-container {
    position: fixed;
    top: 30%;
    left: 25%;
    background-color: #fefefe;
    width: 50%;
    /*padding-bottom: 20px;*/
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
    animation-name: fadeIn;
    animation-duration: 0.8s
}

.dialogue-header {
    padding: 12px 16px;
    background-color: #585858;
    color: white;
}
.dialogue-header h2 {
    text-align: center;
}

.dialogue-body {
    padding: 10px 0px;
    background-color: #F2F2F2;
}

.dialogue-footer {
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 20px;
}


.fade-background-container {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.8s;
    animation-name: fadeIn;
    animation-duration: 0.8s
}

.dialogue-container {
    position: fixed;
    top: 30%;
    left: 25%;
    background-color: #fefefe;
    width: 50%;
    /*padding-bottom: 20px;*/
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
    animation-name: fadeIn;
    animation-duration: 0.8s
}

.dialogue-header {
    padding: 12px 16px;
    background-color: #585858;
    color: white;
}
.dialogue-header h2 {
    text-align: center;
}

.dialogue-body {
    padding: 10px 0px;
    background-color: #F2F2F2;
}

.dialogue-footer {
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 20px;
}

.one-mapping .entity-input {
    border-radius: 10px;
    width:100%;
    border: 1px solid #73AD21;
    padding: 5px;
    margin: 2px 0px;
}

.short-disabled-input {
    border-radius: 10px;
    width: 60%;
    border: 1px solid #73AD21;
    padding: 5px;
    margin: 2px 0px;
    pointer-events:none;
}