<body ng-app="footer"> 
    <div class="landing-footer">
        <div class="footer-right-container">
            <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a>
            <a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="http://www.github.com" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer-left-container">
            <p class="footer-links">
                <a href="/">Home </a>
                <a href="#">Blog</a>
                <a href="#">Pricing </a>
                <a href="#">About </a>
                <a href="#">FAQ </a>
                <a href="#">Contact </a>
            </p>
            <p>Botman &copy; 2017-18</p>
        </div>
    </div>
</body>
