<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="login-page" content="noindex">
  <title>Botman</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/nlpbotedit.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <script type="text/javascript" src="/angular/nlpeditbot.js">
  </script>

</head>
<body>
<header class="header-mod">
  <div class="header-container">
    <img class="logo_container" src="/images/assets/bot_logo.png" alt="botman logo" />
    <span class="header_name">Botman</span>
  </div>
</header>
<section class="section1" ng-app="NlpBotTemplate" ng-controller="BotEdit" ng-init="loadData()">
  <div class="section-mapping">
    <div class="mapping">
      <div class="one-mapping" ng-repeat="obj in bot.mapping">
        <!--Intent-->
        <div class="intent-container"> {{obj.intent}} <img src="/images/assets/cancel.png" ng-click="viewDeleteIntentDialogue(obj.intent)"/> <img src="/images/assets/expand_ic.png" ng-click="toggleFilter()"/> <br class="clear" /></div>
        <!--entity-response-->
        <div class="entity-response-container" ng-show="toggle">
          <img src="/images/assets/add_ic.png" class="add-entity" ng-click="viewEntityDialogue(obj.intent)"/>
          <!--entity-->
          <div class="entity-container">
            <ul>
              <li ng-repeat="entity in obj.entity">{{entity}}</li>
            </ul>
          </div>
          <!--response-->
          <div class="response-container">
            <img src="/images/assets/edit_ic.png" class="edit-response" ng-click="viewEditResponse(obj.intent)"/>
            <em>Response:</em><span>{{obj.response}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-unmapped">
    <div class="section-heading">
          <p>Questions Asked to me but couldn't reply.</p>
    </div>
    <div class="no-mapping-container">
      <ul>
        <li ng-repeat="ele in bot.unmapped">{{ele}}</li>
      </ul>
    </div>
    <div class="button-container">
      <input type="button" value="Add Intent" class="button-style mod-width" ng-click="showAddNewIntentDialogue=true"/>
      <input type="button" value="Upload" class="button-style mod-width upload-style" ng-click="showUploadBotDialogue=true" />
      <input type="button" value="Back" class="button-style mod-width" ng-click="goBack()"/>
    </div>
  </div>
  <br class="clear"/>
  <!-- block to show the add Intent dialogue -->
  <div class="fade-background-container" ng-show="showAddNewIntentDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Add New Intent</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
            <input class="entity-input" type="text" ng-model="dummy.newIntent" placeholder="Intent"/><br/>
            <input class="entity-input" type="text" ng-model="dummy.newEntity" placeholder="If user asks this question"/><br/>
            <input class="entity-input" type="text" ng-model="dummy.newResponse" placeholder="Bot should replay as"/>
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Add" ng-click="addIntent()" class="button-style"/>
        <input type="button" value="Cancel" ng-click="showAddNewIntentDialogue=false" class="button-style"/>
      </div>
      <div class="success-snack-bar" ng-show="updateMappingAddIntentStatus.success">
        <p>Successfully Updated!</p>
      </div>
      <div class="error-snack-bar" ng-show="updateMappingAddIntentStatus.error">
        <p>Failed to update. Contact admin.</p>
      </div>
    </div>
  </div>
  <!-- block to show the add entity dialogue -->
  <div class="fade-background-container" ng-show="addEntityDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Add Entity</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
            <input class="entity-input" type="text" placeholder="Entity" ng-model="dummy.newEntity"/>
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Add" ng-click="addEntity()" class="button-style"/>
        <input type="button" value="Cancel" ng-click="addEntityDialogue=false" class="button-style"/>
      </div>
      <div class="success-snack-bar" ng-show="updateMappingAddEntityStatus.success">
        <p>Successfully Updated!</p>
      </div>
      <div class="error-snack-bar" ng-show="updateMappingAddEntityStatus.error">
        <p>Failed to update. Contact admin.</p>
      </div>
    </div>
  </div>
  <!-- block to show update response dialogue -->
  <div class="fade-background-container" ng-show="showResponseDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Update Response</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
            <input class="entity-input" type="text" placeholder="New Response" ng-model="dummy.newResponse"/>
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Update" ng-click="updateResponse()" class="button-style"/>
        <input type="button" value="Cancel" ng-click="showResponseDialogue=false" class="button-style"/>
      </div>
      <div class="success-snack-bar" ng-show="updateMappingUpdateResponseStatus.success">
        <p>Successfully Updated!</p>
      </div>
      <div class="error-snack-bar" ng-show="updateMappingUpdateResponseStatus.error">
        <p>Failed to update. Contact admin.</p>
      </div>
    </div>
  </div>
  <!-- block to show delete intent dialogue -->
  <div class="fade-background-container" ng-show="showDeleteIntentDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Delete Intent</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
              Confirm Delete Intent: <input class="short-disabled-input" type="text" ng-model="dummy.newIntent"> ?
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Delete" ng-click="deleteIntent()" class="button-style"/>
        <input type="button" value="Cancel" ng-click="showDeleteIntentDialogue=false" class="button-style"/>
      </div>
      <div class="success-snack-bar" ng-show="updateMappingDeleteIntentStatus.success">
        <p>Successfully Updated!</p>
      </div>
      <div class="error-snack-bar" ng-show="updateMappingDeleteIntentStatus.error">
        <p>Failed to update. Contact admin.</p>
      </div>
    </div>
  </div>
  <!-- Show Upload bot confirmation Dialogue-->
  <div class="fade-background-container" ng-show="showUploadBotDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Go Live</h2>
      </div>
      <div class="dialogue-body">
        <div style="text-align:center;padding: 20px 0px;">
          Confirm Upload bot to Cloud ?
        </div>
      </div>
      <div class="dialogue-footer">
        <input type="button " value="Confirm" ng-click="uploadBot()" class="button-style " />
        <input type="button " value="Cancel" ng-click="showUploadBotDialogue=false" class="button-style " />
      </div>
      <div class="success-snack-bar" ng-show="uploadBotStatus.success">
        <p>Successfully Uploaded!</p>
      </div>
      <div class="error-snack-bar" ng-show="uploadBotStatus.error">
        <p>Failed to Upload. Contact admin.</p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Features</a></li>
    </ul>
    <p>Botman © 2018. All rights reserved.</p>
  </div>
</footer>
</body>
</html>