<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="login-page" content="noindex">
  <title>Botman</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles for this template -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/nlpbotedit.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <script type="text/javascript" src="/angular/nlpeditbot.js">
  </script>

</head>
<body>
<header class="header-mod">
  <div class="header-container">
    <img class="logo_container" src="/images/assets/bot_logo.png" alt="botman logo" />
    <span class="header_name">Botman</span>
  </div>
</header>
<section class="section1" ng-app="NlpBotTemplate" ng-controller="BotEdit">
  <div class="section-mapping">
    <div class="mapping">
      <div class="one-mapping" ng-repeat="obj in bot.mapping">
        <!--Intent-->
        <div class="intent-container"> {{obj.intent}} <img src="/images/assets/cancel.png" ng-click="deleteIntent(obj.intent)"/> <img src="/images/assets/expand_ic.png" ng-click="toggleFilter()"/> <br class="clear" /></div>
        <!--entity-response-->
        <div class="entity-response-container" ng-show="toggle">
          <img src="/images/assets/add_ic.png" class="add-entity" ng-click="addEntity(obj)"/>
          <!--entity-->
          <div class="entity-container">
            <ul>
              <li ng-repeat="entity in obj.entity">{{entity}}</li>
            </ul>
          </div>
          <!--response-->
          <div class="response-container">
            <img src="/images/assets/edit_ic.png" class="edit-response" ng-click="editResponse(obj)"/>
            <em>Response:</em><span>{{obj.response}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-unmapped">
    <div class="section-heading">
          <p>Questions Asked to me but couldn't reply.</p>
    </div>
    <div class="no-mapping-container">
      <ul>
        <li ng-repeat="ele in bot.unmapped">{{ele}}</li>
      </ul>
    </div>
    <div class="button-container">
      <input type="button" value="Add" class="button-style" ng-click="addNewIntent=true"/>
      <input type="button" value="Update" class="button-style"/>
    </div>
  </div>
  <br class="clear"/>
  <!-- block to show the add Intent dialogue -->
  <div class="fade-background-container" ng-show="showEntityDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Add New Intent</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
            <input class="entity-input" type="text" placeholder="Intent"/>
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Add" ng-click="" class="button-style"/>
        <input type="button" value="Cancel" ng-click="showEntityDialogue=false" class="button-style"/>
      </div>
    </div>
  </div>
  <!-- block to show the add entity dialogue -->
  <div class="fade-background-container" ng-show="showEntityDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Add Entity</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
            <input class="entity-input" type="text" placeholder="Entity"/>
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Add" ng-click="" class="button-style"/>
        <input type="button" value="Cancel" ng-click="showEntityDialogue=false" class="button-style"/>
      </div>
    </div>
  </div>
  <!-- block to show update dialogue -->
  <div class="fade-background-container" ng-show="showResponseDialogue">
    <div class="dialogue-container">
      <div class="dialogue-header">
        <h2>Update Response</h2>
      </div>
      <div class="dialogue-body">
          <div class="one-mapping">
            <input class="entity-input" type="text" placeholder="New Response"/>
          </div>
      </div>
      <div class="dialogue-footer">
        <input type="button" value="Update" ng-click="" class="button-style"/>
        <input type="button" value="Cancel" ng-click="showResponseDialogue=false" class="button-style"/>
      </div>
    </div>
  </div>
</section>
<footer>
  <div>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Features</a></li>
    </ul>
    <p>Botman © 2018. All rights reserved.</p>
  </div>
</footer>
</body>
</html>