<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="UTF-8">
        <meta name="login-page" content="noindex">
        <title>Botman</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom styles for this template -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link type="text/css" rel="stylesheet" href="style.css" />
        <script type="text/javascript" src="AngJs.js">
        </script>
</head>
<body>
<div id="wrapper" ng-app="MyApp" ng-controller="MyController">
    <div class="chatbox">
        <ul id="bottom">
            <li ng-repeat="line in chat track by $index" >
                <p ng-class="">{{line.message}}</p>
            </li>
        </ul>
    </div>
    <input name="usermsg" class="input-text" type="text" ng-model="userText" size="63" />
    <input name="submitmsg" class="input-button" type="submit" value="Send" scroll-bottom="bottom" ng-click="addDiv()"/>
</div>
</body>
</html>